.my-evaluate-table {
    border-collapse: collapse;
    font: 400 12px/20px Roboto, "Helvetica Neue", sans-serif!important;
    color: rgba(0, 0, 0, .87);
}

.my-evaluate-table th,
.my-evaluate-table td {
    border: 1px solid rgba(0, 0, 0, 0.3);
    font: 400 12px/20px Roboto, "Helvetica Neue", sans-serif!important;
    color: rgba(0, 0, 0, .87);
    padding: 3px;
}

.my-evaluate-table th {
    font-weight: bold !important;
}

.my-evaluate-table td.label {
    color: blue;
}

.my-center-td {
    background: rgb(244, 244, 255);
    background: linear-gradient(90deg, rgba(244, 244, 255, 0.7950367647058824) 0%, rgba(204, 204, 204, 1) 50%, rgba(244, 244, 255, 1) 100%);
}

.my_stats_label {
    font-size: 16px;
}

.my_stats_number {
    font-size: 46px;
    font-weight: bold;
}