<div class='my-progress-bar-container' *ngIf="myprogressbar">
    <mat-progress-bar class="my-progress-bar" color="accent" mode="indeterminate" [value]="50" [bufferValue]="75"></mat-progress-bar>
</div>
<div fxLayout="column" fxLayoutAlign="center" class="my-m-3">

    <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-card fxFlex="50" class="my-m-2">
            <mat-card-header>
                <mat-card-title>Total Contract Awarded (MYR)</mat-card-title>
                <mat-card-subtitle>January - June 2019</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center" style="height: 400px;">
                <div class="mat-display-2">
                    MYR 3,139,822,517.66
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card fxFlex="50" class="my-m-2">
            <mat-card-header>
                <mat-card-title>Tender vs Quotation</mat-card-title>
                <mat-card-subtitle>Total Number & Spending</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div id="chartdiv_tendervsquotation" style="height: 400px;"></div>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-card fxFlex="50" class="my-m-2">
            <mat-card-header>
                <mat-card-title>Company Register</mat-card-title>
                <mat-card-subtitle>Total Company</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center" style="height: 400px;">
                <div class="mat-display-2">
                    20,049
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card fxFlex="50" class="my-m-2">
            <mat-card-header>
                <mat-card-title>Company Apply for Tender & Quotation</mat-card-title>
                <mat-card-subtitle>Total Company</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div id="chartdiv_companytenderandquotation" style="height: 400px;"></div>
            </mat-card-content>
        </mat-card>
    </div>


    <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-card fxFlex="100" class="my-m-2">
            <mat-card-header>
                <mat-card-title>Tender & Quotation by Ministry</mat-card-title>
                <mat-card-subtitle>Total</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div id="chartdiv_spendingbyministry" style="height: 400px;"></div>
            </mat-card-content>
        </mat-card>
    </div>



    <div fxLayout="row" fxLayoutAlign="space-around center">
        <mat-card fxFlex="100" class="my-m-2">
            <mat-card-header>
                <mat-card-title>Top 10 Tender & Quotation Award</mat-card-title>
                <mat-card-subtitle>Tender & Quotation Flow</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div id="chartdiv_awardbycompany" style="height: 700px;"></div>
            </mat-card-content>
        </mat-card>
    </div>

</div>